:root {
    --default-text-color: #082235;
    --dialog-heading-color: #004B85;
    --light-grey: #EFF3F4;
    --item-selected: #FDD447;
    --item-border-color: #C8C8C8;
    --color-alto: #DCDCDC;
    --item-border: 2px solid var(--item-border-color);
    --font-size-large: 16px;
    --font-size-medium: 14px;
    --font-size-normal: 12px;
    --font-size-small: 10px;
    --line-height-large: 21.79px;
    --line-height-medium: 19.07px;
    --line-height-normal: 16.34px;
    --line-height-small: 13.62px;
    --font-family: Open Sans, sans-serif;
    --font-large: var(--font-size-large) / var(--line-height-large) var(--font-family);
    --font-medium: var(--font-size-medium) / var(--line-height-medium) var(--font-family);
    --font-normal: var(--font-size-normal) / var(--line-height-normal) var(--font-family);
    --font-small: var(--font-size-small) / var(--line-height-small) var(--font-family);
    --border-radius: 4px;
}