.leaflet-control-geocoder {
	border-radius: var(--border-radius);
	background: white;
	min-width: 26px;
	min-height: 26px;
}

.leaflet-touch .leaflet-control-geocoder {
	min-width: 30px;
	min-height: 30px;
}

.leaflet-control-geocoder a, .leaflet-control-geocoder {
	border-bottom: none;
	display: inline-block;
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
	width: inherit;
	height: inherit;
	line-height: inherit;
}

.leaflet-control-geocoder a:hover, .leaflet-control-geocoder .leaflet-control-geocoder-icon:hover {
	border-bottom: none;
	display: inline-block;
}


.leaflet-control-geocoder-form {
	display: none;    
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
	display: block;
	position: absolute;
    top: 56px;
    left: -113px;
	width: calc(350px -(16px* 2));
    background: #FFFFFF;
    border-radius: var(--border-radius);
    padding: 16px;
    display: block;
    z-index: 1000;
	color: var( --default-text-color);
}

.leaflet-control-geocoder-form .search-input {
	width: 318px;
    padding: 8px 16px;
	border-radius: 30px;
	border: 1px solid var(--color-alto);
}

.search-input::placeholder {
	font: var(--font-large);
	color: var( --default-text-color);
}

.leaflet-control-geocoder-icon {
	border-radius: var(--border-radius);
	width: 40px;
	height: 40px;
	cursor: pointer;
	font: var(--font-normal);
	background: var(--light-grey);
}

.leaflet-control-geocoder-icon.icon-selected {
	background: var(--item-selected);
}

.leaflet-touch .leaflet-control-geocoder-icon {
	width: 30px;
	height: 30px;
}

/* .leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon {
	background-image: url(images/throbber.gif);
} */

.leaflet-control-geocoder-form-no-error {
	display: none;
}

.leaflet-control-geocoder-form input:focus {
	outline: none;
}

.search-dialog-description {
	font: var(--font-medium);
	margin: 16px 0;
}

.search-button-container {
	display: flex;
    justify-content: center;
    align-items: center;
}

.search-dialog-button {
	margin-top: 10px;
	width: 112px;
	padding: 8px 16px;
	border: 1px solid var(--item-border-color);
	background-color: var(--default-white);
	border-radius: 100px;
	font: var(--font-large);
}

.search-dialog-close {
	position: absolute;
    width: 24px;
    height: 24px;
    left: 313px;
    top: 13px;
}

.leaflet-control-geocoder-error {
	margin-top: 8px;
	margin-left: 8px;
	display: block;
	color: #444;
}
.leaflet-control-geocoder-alternatives {
	display: block;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	font: var(--font-medium);
}

.leaflet-control-geocoder-alternatives-minimized {
	display: none;
	height: 0;
}
.leaflet-control-geocoder-alternatives li {
	white-space: nowrap;
	display: block;
	overflow: hidden;
	padding: 5px 8px;
	text-overflow: ellipsis;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.leaflet-control-geocoder-alternatives li a, .leaflet-control-geocoder-alternatives li a:hover {
	width: inherit;
	height: inherit;
	line-height: inherit;
	background: inherit;
	border-radius: inherit;
	text-align: left;
}

.leaflet-control-geocoder-alternatives li:last-child {
	border-bottom: none;
}
.leaflet-control-geocoder-alternatives li:hover, .leaflet-control-geocoder-selected {
	background-color: #f5f5f5;
}
.leaflet-control-geocoder-address-detail {
	
}
.leaflet-control-geocoder-address-context {
	color: #666;
}