.text-blue {
    color: var(--dialog-heading-color);
    font-weight: 600;
}

.overlay-dialog {
    position: absolute;
    top: 7vh;
    background: var(--light-grey);
    z-index: 1000;
    left: 25vw;
    width: 50vw;
    height: 78vh;
    padding: 0 1rem;
    border-radius: var(--border-radius);
    font: var(--font-normal);
    overflow-y: auto;
}

.overlay-dialog-header {
    padding: 1rem 1rem 0.5rem 0;
    height: 1.2rem;
}

.overlay-dialog-content {
    flex: 20 20 auto;
    border-top: 1px solid #DCDCDC;
    display: flex;
    gap: 1rem;
}



.overlay-dialog-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.overlay-dialog-close-icon {
    position: absolute;
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .overlay-dialog {
      top: 2vh;
      bottom: 2vh;
      left: 5vw;
      right: 5vw;
      padding: 0.75rem;
    }
}