server {
    listen 80;
    server_name wok.water-op-de-kaa.src.surf-hosted.nl;

    # Redirect all traffic to HTTPS except for certbot challenge
    location / {
        return 301 https://$server_name$request_uri;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}


server {
    listen 443 ssl;
    server_name wok.water-op-de-kaa.src.surf-hosted.nl;

    ssl_certificate /etc/letsencrypt/live/wok.water-op-de-kaa.src.surf-hosted.nl/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/wok.water-op-de-kaa.src.surf-hosted.nl/privkey.pem;


    # Proxy requests for GeoServer
    location /geoserver {
    proxy_pass http://geoserver:8080/geoserver;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header Forwarded "proto=https;host=$host";

    proxy_redirect http:// https://;

    # Fix form action rewriting if GeoServer still outputs http://
    proxy_set_header Accept-Encoding "";
    sub_filter 'http://wok.water-op-de-kaa.src.surf-hosted.nl/geoserver/j_spring_security_check' 'https://wok.water-op-de-kaa.src.surf-hosted.nl/geoserver/j_spring_security_check';
    sub_filter_once off;
}

    # Handle requests for dataviewer at /
    location / {
        proxy_pass http://dataviewer:8090/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        add_header x-cache-status $upstream_cache_status;
        add_header cache-control "public, max-age=18000";

        # enable caching
        #proxy_cache my_cache;
        proxy_cache_valid 200 1h;
        proxy_cache_bypass $http_cache_control;
    }

    # LetsEncrypt ACME challenge
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location /healthz {
        return 200 'ok';
        add_header Content-Type text/plain;
    }
}